{% extends "layout.html" %}
{% block body %}
<ul class="lists">
    <li class="article">
        <h3>article title</h3>
        <p>記事の内容・・・・・・・・・・・・・・・・・・・</p>
    </li>
    <li class="article">
        <h3>article title</h3>
        <p>記事の内容・・・・・・・・・・・・・・・・・・・</p>
    </li>
    <li class="article">
        <h3>article title</h3>
        <p>記事の内容・・・・・・・・・・・・・・・・・・・</p>
    </li>
    <li class="article">
        <h3>article title</h3>
        <p>記事の内容・・・・・・・・・・・・・・・・・・・</p>
    </li>
    <li class="article">
        <h3>article title</h3>
        <p>記事の内容・・・・・・・・・・・・・・・・・・・</p>
    </li>
    <li class="article">
        <h3>article title</h3>
        <p>記事の内容・・・・・・・・・・・・・・・・・・・</p>
    </li>
</ul>
{% for dt in text2 %}
<li>ID:{{ dt[0] }} ユーザ名:{{ dt[1] }}</li>
{% endfor %}<br>
{% endblock %}